<!---<h1>New_Prompt</h1>-->
<!--TESTING AREA-->
<h1 style= "background: red"> Left off: 1. Figure out how to sign out. 2. View MSM signin (1:48:00) into to format pages correctly and filter infomation to only show the users stories.  3. *Idea: add "Use prompt" to prompts on other user's pages to create a story using thier prompts 4.*idea: add notes section about the story in the story edit section. 5. *add comments section</h1> 
 <%#= current_user.id%>
<!----------------->
<!--from to generate random prompt (prompt shoult not save into database yet)-->
<h2> Generate a new prompt and see what you create! </h2>
<form>

    <!-- Once a prompt have been generated -->
    <!---AJAX will change the buttons--->

    <!-- When button is clicked a random prompt appears-->
    <!--<button> Generate! </button>-->
    <!--------------------------------------->


    <button> Generate new prompt! </button>
    <% location = Faker::Address.country.downcase%>
    <% species = Faker::Creature::Animal.name.downcase%>
    <% item = Faker::Appliance.equipment.downcase%>
    <div>
    <% prompt = "Create a story about a #{species} in #{location} with a(n) #{item}" %>
    <p>Prompt: <%= prompt %></p>
    </div>

    <%#= Prompt.first.full_prompt%>
  
  <!---Form to save prompt into database--->
</form>

  <form action="/create_prompts" method= post>    
    <!--If a prompt has not been generated-->
    <input type="hidden" value=<%= location %> name="location_text">
    <input type="hidden" value=<%= species %> name="species_text">
    <input type="hidden" value=<%= item %> name="item_text"> 
    <input type="hidden" value=<%= prompt %> name="prompt_text">
    <input type="hidden" value=<%= item %> name="item_text"> 
    <input type="hidden" value=<%= prompt %> name="prompt_text">

    <button> Choose prompt </button>
  </form>



<!--<h2>List of all prompts (<%#= Prompt.all.count%>)</h2>
<div>
  <div>
    <table border="1">
    <tr>
      <th> Id </th>
      <th> Location </th>
      <th> Species </th>
      <th> Items </th>
      <th> Full Prompt </th>
      <th> Title </th>
      <th> Body </th>
      <th> Details </th>
    </tr>

    <%# @list_of_prompts.each do |a_prompt| %>
      <tr>
        <td> <%#= a_prompt.id %> </td>
        <td> <%#= a_prompt.location %> </td>
        <td> <%#= a_prompt.species %> </td>
        <td> <%#= a_prompt.item %> </td>
        <td> <%#= a_prompt.full_prompt %> </td>
        <td> <%#= a_prompt.title %> </td>
        <td> <%#= a_prompt.body %> </td>
        <td> <a href="/prompts/<%#=a_prompt.id %>">Show details</a></td>
      </tr>
    <%# end %>
  </div>

</div> -->
