<div class="container text-center">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <h1>
        <%= @the_story.title %>
      </h1>

        <dt>
          Story
        </dt>

        <dd>
          <%= @the_story.body %>
        </dd>
    </div>
    <div class="col">
      <dt>
        Prompt
      </dt>
      <dd>
        <%= @the_story.prompts.full_prompt %>
      </dd>
      
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.created_at) %> ago
      </dd>
      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.updated_at) %> ago
      </dd>
    <div>
      <div>
        <a href="/users/<%= current_user.id%>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_story/<%= @the_story.id %>">
          Delete story
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

<hr>

<!--- EDIT STORY FORM --->
<div class = "">
  <div>
    <h2>
      Edit story
    </h2>

    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div class="col-xs-2">
        <label class="form-label fs-4" for="title_box"> Title</label>

        <textarea class="form-control" id="title_box" name="query_title" rows="1"><%= @the_story.title %></textarea>
      </div>

      <div>
        <label class="form-label fs-4" for="body_box">
          Body
        </label>

        <textarea class="form-control" type="text" id="body_box" name="query_body" value="<%= @the_story.body %>"><%= @the_story.body %></textarea>
      </div>

      <div>

        <input type="hidden" id="prompt_id_box" name="query_prompt_id" value="<%= @the_story.prompt_id %>">
      </div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_story.user_id %>">
      </div>

      <button>
        Update story
      </button>
    </form>
  </div>
  <div class="row">
  </div>
</div>
