<div>
  <div>
    <h1>
      <%= @the_story.title %>
    </h1>

    <div>
      <div>
        <a href="/users/<%= current_user.id%>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_story/<%= @the_story.id %>">
          Delete story
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Prompt
      </dt>
      <dd>
        <%= @the_story.prompts.full_prompt %>
      </dd>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_story.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<!--- EDIT STORY FORM --->
<div>
  <div>
    <h2>
      Edit story
    </h2>

    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <textarea id="title_box" name="query_title"><%= @the_story.title %></textarea>
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea type="text" id="body_box" name="query_body" value="<%= @the_story.body %>"><%= @the_story.body %></textarea>
      </div>

      <div>

        <input type="hidden" id="prompt_id_box" name="query_prompt_id" value="<%= @the_story.prompt_id %>">
      </div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_story.user_id %>">
      </div>

      <button>
        Update story
      </button>
    </form>
  </div>
</div>

<hr>
